/* /Pages/Button.razor.rz.scp.css */
button[b-x4jo15ojz0] {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

    button:hover[b-x4jo15ojz0] {
        background-color: #eaeaea;
    }
/* /Pages/Index.razor.rz.scp.css */
*[b-uz0pier1fu] {
    box-sizing: border-box;
    
}

.outer[b-uz0pier1fu] {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
}



.inner[b-uz0pier1fu] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    padding: 10px;
    width:40%;
    margin:auto;
    
}


.uncleared[b-uz0pier1fu] {
    height: 80px;
    width:80px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
   
    font-size: 2rem;
    color: #333;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

.bomb[b-uz0pier1fu] {
    background-color: red;
    animation-name: color-b-uz0pier1fu;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: red;
}
.uncleared:hover[b-uz0pier1fu] {
    background-color: #eaeaea;

}

.cleared[b-uz0pier1fu] {
    background: green;
    height: 80px;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: #333;
}

@keyframes color-b-uz0pier1fu {
    0% {
        background-color: red;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}

@media (max-width: 640.98px) {
    
    h1[b-uz0pier1fu]{
        font-size: 20px;
        margin: 10px 0 30px 0;
        font-weight:bold;
    }


    .inner[b-uz0pier1fu] {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        height:100%;
    
        position: absolute;
        top: 90%;
        left: 0;
        width: 50%;
        margin: auto;
    }
    .uncleared[b-uz0pier1fu] {
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
    }

    .bomb[b-uz0pier1fu] {
        background-color: red;
        animation-name: color-b-uz0pier1fu;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
        color: red;
    }

    .cleared[b-uz0pier1fu] {
        background: green;
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
        color: #333;
    }

    @keyframes color-b-uz0pier1fu {
        0% {
            background-color: red;
        }

        50% {
            background-color: white;
        }

        100% {
            background-color: red;
        }
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-xhuck7imj9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-xhuck7imj9] {
    flex: 1;
    
}

.sidebar[b-xhuck7imj9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

footer[b-xhuck7imj9] {
    display:none;
    position: fixed;
    bottom: 0;
    
}

.top-row[b-xhuck7imj9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xhuck7imj9]  a, .top-row .btn-link[b-xhuck7imj9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xhuck7imj9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xhuck7imj9] {
        display: none;
    }

    .top-row.auth[b-xhuck7imj9] {
        justify-content: space-between;
    }

    .top-row a[b-xhuck7imj9], .top-row .btn-link[b-xhuck7imj9] {
        margin-left: 0;
    }

    footer[b-xhuck7imj9] {
        display: block;
        
        bottom: 0;
        width: 100%;
        background-color: lightgray;
        margin-top: 10px;
        padding: 5px;
    }
}

@media (min-width: 641px) {
    .page[b-xhuck7imj9] {
        flex-direction: row;
    }

    .sidebar[b-xhuck7imj9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        
    }

    .top-row[b-xhuck7imj9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-xhuck7imj9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5a7ltbp05a] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-5a7ltbp05a] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5a7ltbp05a] {
    font-size: 1.1rem;
}

.oi[b-5a7ltbp05a] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5a7ltbp05a] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    
}

    .nav-item:first-of-type[b-5a7ltbp05a] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5a7ltbp05a] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5a7ltbp05a]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-5a7ltbp05a]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-5a7ltbp05a]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5a7ltbp05a] {
        display: none;
    }

    .collapse[b-5a7ltbp05a] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
