@inherits LayoutComponentBase

<div class="page">
    

    <div class="main">
       
        <div class="content px-4">
            @Body
        </div>
        <footer >
            &copy; Assad Ahmed, @(DateTime.Today.Year)
           
        </footer>
    </div>
    
</div>
