*[b-uz0pier1fu] {
    box-sizing: border-box;
    
}

.outer[b-uz0pier1fu] {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
}



.inner[b-uz0pier1fu] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    padding: 10px;
    width:40%;
    margin:auto;
    
}


.uncleared[b-uz0pier1fu] {
    height: 80px;
    width:80px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
   
    font-size: 2rem;
    color: #333;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

.bomb[b-uz0pier1fu] {
    background-color: red;
    animation-name: color-b-uz0pier1fu;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: red;
}
.uncleared:hover[b-uz0pier1fu] {
    background-color: #eaeaea;

}

.cleared[b-uz0pier1fu] {
    background: green;
    height: 80px;
    width: 80px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    color: #333;
}

@keyframes color-b-uz0pier1fu {
    0% {
        background-color: red;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}

@media (max-width: 640.98px) {
    
    h1[b-uz0pier1fu]{
        font-size: 20px;
        margin: 10px 0 30px 0;
        font-weight:bold;
    }


    .inner[b-uz0pier1fu] {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        height:100%;
    
        position: absolute;
        top: 90%;
        left: 0;
        width: 50%;
        margin: auto;
    }
    .uncleared[b-uz0pier1fu] {
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
    }

    .bomb[b-uz0pier1fu] {
        background-color: red;
        animation-name: color-b-uz0pier1fu;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
        color: red;
    }

    .cleared[b-uz0pier1fu] {
        background: green;
        height: 50px;
        width: 50px;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 1rem;
        color: #333;
    }

    @keyframes color-b-uz0pier1fu {
        0% {
            background-color: red;
        }

        50% {
            background-color: white;
        }

        100% {
            background-color: red;
        }
    }
}