.outer[b-uz0pier1fu] {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner[b-uz0pier1fu] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 500px;
    text-align: center;
}


.uncleared[b-uz0pier1fu] {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
   
    font-size: 2rem;
    color: #333;
    
}

    .uncleared:hover[b-uz0pier1fu] {
        background-color: #eaeaea;
    }

    .cleared[b-uz0pier1fu]{
        background: green;
    }