<button type="button" @onclick="OnClickCallback">@Content</button>


@code {
    [Parameter]
  public string Content { get; set; }

 [Parameter]
 public EventCallback<MouseEventArgs>OnClickCallback { get; set; }
}
