@page "/"

<h1>Hello, world!</h1>

<div class="outter">
  <div class="inner">
      
    @for (var i = 0; i < 8; i++)
    {
      @for (var j = 0; j < 8; j++)
      {

        <Button Content=" " ></Button>
        

      }

    }

  </div>
</div>