@page "/"
@using MinesweeperApp.Models

@inject IJSRuntime JsRuntime;

<h1>Hello, world!</h1>

@{
    
    //board.SetupLiveNeihbors();
    
}
<div class="outter">
  <div class="inner">
    
    @foreach(var item in cells)
    {
        if(item.Visited)
        {
             if (item.IsLive)
            {
                    <button type="button" >*</button>
        
            }

            if (item.NumberOfNeighborsLve > 0)
            {
                <button type="button">@item.NumberOfNeighborsLve</button>
                    
            }

            else
            {
                <button type="button" ></button>
            }   
        }

        else
        {
           <button type="button" @onclick="(() => Name(item))">?</button>
        }
            
    }
    
  </div>
</div>

