@page "/"
@using MinesweeperApp.Models

@inject IJSRuntime JsRuntime;

<h1>Hello, Welcome To The Game.</h1>

<p class="text-danger">@minutes.ToString("00") : @seconds.ToString("00")</p>
<div class="outter">
  <div class="inner">
    
    @foreach(var item in cells)
    {
        if(item.Visited)
        {
             if (item.IsLive)
            {
                    
                <button class="bomb">💣</button>
            }

            else if (item.NumberOfNeighborsLve > 0)
            {
                <button class="uncleared">@item.NumberOfNeighborsLve</button>
                    
            }

            else
            {
                <button class="cleared"></button>
            }   
        }

        else
        {
           <button class="uncleared"  @onclick="(() => Name(item))">?</button>
        }
          
    }
    
  </div>
</div>

